body {
  background-color: lightgrey;
}

* {
  letter-spacing: 1px;
  line-height: 1.5;
}

div {
  padding-top: 10px;
  padding-right: 60px;
  padding-bottom: 50px;
  padding-left: 60px;
}

#headingone {
  color: yellow;
  text-align: center;
  font-size: 50px;
}

li {
  font-size: 24px;
}

#indentpara {
  font-family: verdana;
  font-size: 20px;
  text-indent: 30px;
}

p {
  font-family: verdana;
  font-size: 20px;
}

img.centre {
  display: block;
  margin: auto;
  width: 250px;
  height: 200px;
  height: auto;
  border-radius: 30%;
}

img.left {
  float: left;
  width: 250px;
  height: 200px;
}

img.right {
   float: right;
  width: 150px;
  height: 200px;
}
